*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:"Noto Sans KR",sans-serif;
    background:#fffaf3;
    color:#17243f;
}


img{
    max-width:100%;
    display:block;
}


/* HEADER */

.header{
    height:90px;
    background:#ffffff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    border-bottom:1px solid #eee;
}


.logo{
    font-size:32px;
    font-weight:800;
    color:#b88425;
    letter-spacing:-1px;
}


.logo span{
    display:block;
    font-size:11px;
    color:#777;
    margin-top:3px;
}


nav{
    display:flex;
    gap:45px;
}


nav a{
    color:#18233d;
    font-weight:600;
    font-size:15px;
}




/* HERO */

.hero{

    max-width:1200px;
    margin:auto;

    display:flex;

    align-items:center;

    background:#ffffff;

    min-height:430px;

}



.hero-text{

    width:45%;

    padding:60px;

}



.sub{

    color:#c28b27;

    font-size:20px;

    margin-bottom:20px;

}



.hero h1{

    font-size:62px;

    line-height:1.1;

    margin-bottom:25px;

    letter-spacing:-3px;

}



.hero h1 span{

    color:#c28b27;

}



.hero-text p{

    line-height:1.7;

}



.hero button{

    margin-top:35px;

    padding:18px 45px;

    border:none;

    border-radius:8px;

    background:#d29a26;

    color:white;

    font-size:18px;

    font-weight:bold;

}



.hero-photo{

    width:55%;

}



.hero-photo img{

    width:100%;

    height:430px;

    object-fit:cover;

}




/* QUICK CARD */

.quick-card{

    max-width:1200px;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(5,1fr);

    gap:15px;

}



.quick-card div{

    background:white;

    border:1px solid #ead7ad;

    border-radius:15px;

    padding:25px 15px;

    text-align:center;

}



.quick-card strong{

    color:#c28b27;

}



.quick-card h3{

    margin:15px 0 8px;

    font-size:17px;

}



.quick-card p{

    font-size:13px;

    color:#666;

}





/* SERVICE */


.service{

    max-width:1200px;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}


.service div{

    background:white;

    border-radius:15px;

    padding:25px;

    text-align:center;

    border:1px solid #eee;

}



.service span{

    font-size:35px;

    color:#c28b27;

}



.service h3{

    margin:12px 0;

}



.service p{

    font-size:14px;

    color:#666;

}





/* APPLY */


.apply{

    max-width:1200px;

    margin:50px auto;

    background:white;

    padding:50px;

    border-radius:20px;

    border:1px solid #ead7ad;

    text-align:center;

}


.apply h2{

    font-size:38px;

    color:#c28b27;

    margin-bottom:15px;

}



.input-box{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

    margin:35px 0;

}



input,
textarea{

    width:100%;

    padding:18px;

    border:1px solid #ddd;

    border-radius:8px;

    font-size:15px;

}



textarea{

    height:120px;

}



.apply button{

    width:100%;

    padding:20px;

    background:#d29a26;

    color:white;

    border:none;

    border-radius:8px;

    font-size:22px;

    font-weight:bold;

}



.privacy{

    margin-top:20px;

    font-size:13px;

    color:#777;

}





/* LOAN INFO */


.loan-info{

    max-width:1200px;

    margin:50px auto;

    background:white;

    padding:50px;

    border-radius:20px;

}



.loan-info h2{

    text-align:center;

    color:#c28b27;

    font-size:38px;

    margin-bottom:30px;

}



.info-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    margin-top:35px;

}



.info-grid div{

    background:#fffaf3;

    padding:25px;

    border-radius:15px;

}



.info-grid h3{

    color:#c28b27;

    margin-bottom:15px;

}




/* COMPANY */


.company{

    max-width:1200px;

    margin:40px auto;

    background:#fff;

    padding:40px;

    border-radius:20px;

}



.company h2{

    color:#c28b27;

    margin-bottom:20px;

}




/* FOOTER */


footer{

    background:#14233f;

    color:white;

    text-align:center;

    padding:35px;

    font-size:18px;

}





@media(max-width:900px){

.header{

    padding:0 20px;

}


nav{

    display:none;

}


.hero{

    flex-direction:column;

}


.hero-text,
.hero-photo{

    width:100%;

}



.quick-card{

    grid-template-columns:1fr;

}


.service{

    grid-template-columns:1fr;

}


.input-box{

    grid-template-columns:1fr;

}


.info-grid{

    grid-template-columns:1fr;

}


}
